button{
	outline: 0;
	height:50px;
	width: 100px;
	background-color: blue;
	border:none;
	margin: 25px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 10px #999;
}
button:active{
	transform: translateY(5px);
	box-shadow: 0 5px #666;
	background-color: red;
}
table{
	font-weight: bold;
	font-family: 'Lato', sans-serif;

}
td{
	padding: 8px;
	border-radius: 20px;
	width: 300px;
	text-align: center;
	color :white;
}
tr:nth-child(odd){
	background-color: #212121;
}
tr:nth-child(even){
	background-color: #aaa;
}
.a{
	padding: 20px;
	text-align: center;
	vertical-align: center;
	background-color: #d2d0ca;
	width: 400px;
	border-radius: 20px;
}
caption{
	background-color: orange;
	color: white;
	height: 25px;
	padding: 8px;
	border-radius: 20px;
}
.three{
	padding: 25px;
	margin-top: 25px;
}
span{
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
}
img{
	height: 20px;
	width: 20px;
	padding: 0px;
}
span:hover{
background-color: blue;
}