body{
	margin: 0;
}
ul{
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #3b3d3e;
	list-style-type: none;
	width: 100%;
	box-shadow: 
}
li{
	float: left;
}
li a{
color: white;
text-decoration: none;
padding: 14px 16px;
text-align: center;
display: block;
font-size: 20px;
font-weight: bold;
height: 35px;
width: 150px;
font-family: 'Patua One', cursive;

}
.l{
	display: inline-block;
}
li a:hover{
	background-color: white;
	color:#003d6a;

}
.dd {
  position: relative;
  display: inline-block;
}
.ddc{
  display: none;
  position: absolute;
  background-color:white ;
  color: white;
  min-width: 160px;

}
.dd:hover .ddc {
	display: block;
}
input[type="text"]{
	background-color: red;
	height: 20px;
	width: 100px;
}
div[class^="car"]{
	height: 200px;
	width: 500px;
	background-color: blue;
	border-radius: 5px;
	border-color: black;
}
div[class*="car"]{
	background-color: red;
}
div>p{
	font-weight: bolder;
}