body{
	margin:0;
}
.container{
	width: 100%;
	background-color: none;
	position: absolute;
	top: 0;
	bottom: 0;
}
.big{display: inline-block;
width: 50%;
background-color: #4f064f;
float: left;
height: 100%;
padding: 100px;
padding-right: 0px;

}
.small{
	width: 40%;
	height: 100%;
background-color: white;
float: left;
padding-left: 30px;
}
.form{
	display: block;
	margin-top: 100px;
}
input{
	display: block;
}
h1{
	color: white;
font-family: 'Squada One', cursive;
padding: 0px;

}
.heading{
	font-size: 70px;
	color: white;
	font-family: 'Squada One', cursive;

}
.signupp{
	font-size: 45px;
	font-family: 'Squada One', cursive;
	color: #00224D;
}
.input{
	background-color: #f2ebf2;
	border-radius: 100px;
	height: 25px;
	width: 300px;
	border-style: none;
	margin-top: 20px;
	padding: 8px;
}
.google{
	margin-top: 20px;
	background-color: #2650c1;
	border: none;
	border-radius: 5px;
	height: 30px;
	text-align: center;
	color: white;
	font-weight: bolder;
}
.inputt{
	margin-top: 20px;
}
