body {
	margin: 0;
}

.container1 {
	width: 60%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #61082b;
}

.container2 {
	width: 40%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60%;
	background-color: white;
}

.header .image {
	float: left;
	margin: 50px;
}

.header .navbar {
	float: left;
	margin: 70px;
}

#left {
	font-size: 20px;
	color: white;
	font-family: 'Roboto';
}

#right {
	margin-left: 50px;
	font-size: 20px;
	color: white;
	font-family: 'Roboto';
}

.info {
	width: 800px;
	margin-top: 230px;
	margin-left: 270px;
	text-align: left;
}

#big {
	font-size: 90px;
	color: #b4d0e7;
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

#small {
	font-size: 20px;
	color: white;
	font-family: 'Roboto';
}

#arrow {
	font-size: 70px;
	color: #b4d0e7;
}