body{margin:0;}
.one{
	height: 200px;
	width: 100%;
	background-color: red;
}
.two{
	height: 400px;
	width: 33%;
	background-color: blue;
	float: left;
	display: inline-block;
}
.three{
	height: 400px;
	width: 33%;
	background-color: yellow;
	float: left;
	display: inline-block;
}
.four{
	height: 400px;
	width: 33%;
	background-color: cyan;
	float: left;
	display: inline-block;
}
.five{
	height: 200px;
	width: 100%;
	background-color: green;
}
.main{
	display: inline-block;
	height: 400px;
	width: 100%;
}