<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
</head>
<style type="text/css">
.div1{
	text-align: center;
	width: 100%;
}
</style>
<body>
<div class="div1">
<img src="http://pngimg.com/uploads/baby_shark/baby_shark_PNG33.png" style="width: 10%; height: auto;" >
</div>
<br>
 <div src="https://ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=rutvik609-21&marketplace=amazon&region=IN&placement=B00H5NMNXC&asins=B00H5NMNXC&linkId=7c71887cd2a239d76d9d7532d7de66c2&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"
               width="400" 
               height="400" /> </div>
 <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=rutvik609-21&marketplace=amazon&region=IN&placement=B00NOKRPD8&asins=B00NOKRPD8&linkId=fd9c65f80b5af82cf6767f0b88e7c1b8&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <form th:action="@{/name}">
    	<input type="submit" value="submit">
    </form>
</body>
</html>