<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv = "refresh" content = "2"; url ="/name" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
    <title>Title</title>
</head>
<style>
	body{
		background-color: white;
	}
</style>
<body>
<h1 style="color: black; font-family: 'Roboto', sans-serif; ">successfully added record to the central database</h1>
</body>
</html>